html, body {
  height: 100%;
  width: 100%;
  background-color:#5c0700;
}
#title{
  text-align: center;
  font-family:Georgia;
  color:white;
  font-weight: bold;
}
li{
  text-align: center;
}
#menu{
  color:white;
  font-size: 20px;
  font-family: Helvetica;
}